{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}歷史：所有表單{% endblock %}</h1>
{% endblock %}


{% block content %}
<form method="get">
    <div>
    <label for="work_name" >工作名稱：</label>
    <input name="work_name" id="work_name">
    </div>
    <div>
    <label for="work_id" >工單號碼：</label>
    <input name="work_id" id="work_id">
    </div>
    <div>
    <label for="requistion_id" >Bypass單號碼：</label>
    <input name="requistion_id" id="requistion_id">
    </div>
    <div>
    <label for="predict_to_work_date_start">預計工作日：</label>
    <input name="predict_to_work_date_start" id="predict_to_work_date_start"  type="date"> <span>~</span>
    <input name="predict_to_work_date_end" id="predict_to_work_date_end"  type="date">
    </div>
    <div>
    <label for="applier" >申請人：</label>
    <input name="applier" id="applier">
    </div>
    <input type="submit" value="🔍搜尋">
</form>
{% for f in all_form %}
<article class="post">
<header>

    <div>
    <h1><a href="{{ url_for('form.form', requistion_id = f['requistion_id']) }}">
    {{ f['work_name'] }} &emsp;工單：{{f['work_id']}}
    </a></h1>
    <div class="about"> Bypass單號：{{f['requistion_id']}}</div>
    <div class="about">申請人：{{ f['applier'] }} &emsp;預計工作日：{{ f['predict_to_work_date'].strftime('%Y-%m-%d') }}</div>
    <div class="about">  </div>


    {% if f['reset_person_id'] %}
        <div class="about"> 狀態：🟢已復原</div></div>
    {% elif f['excutor_id']%}
        <div class="about"> 狀態：⚠️Bypass執行中</div></div>
        <a class="action" href="{{ url_for('form.reset', requistion_id = f['requistion_id']) }}">☘️復原(解除Bypass)</a>
    {% else %}
        <div class="about"> 狀態：📋申請中</div></div>
        {% if g.user['user_id'] == f['applier_id'] %}
           <a class="action" href="{{ url_for('form.delete', requistion_id = f['requistion_id']) }}">🗑抽回</a>
        {% endif %}
        <a class="action" href="{{ url_for('form.excute', requistion_id = f['requistion_id']) }}">🚨執行Bypass</a>
    {% endif %}

</header>
</article>
{% endfor %}
{% endblock %}